:root {
  /* color */
--white-color: #fff;
--black-color: #140a00;
--blue-color: #045fd4;
--red-color: #ff0000;
--grey-dark-color: #909090;
--grey-light-color: #e0e0e0;
  /* size */
--padding:12px;
--avatar-size: 36px;
  /* font size */
--font-large:18px;
--font-medium:14px;
--font-small:12px;
--font-micro:10px;
}

* {padding
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
}





button, button:focus{
    border: none;
    cursor: pointer;
    outline: none;
}


header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}
header .icons .fa-search {
  margin-right: var(--padding);
}

/* video player */
.player {
  /* 스티키는 그위치에 딱 붙어있음 그리고 top 0으로 설정해놓으면 맨위에 붙어있다 */
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}


.player video {
  width: 30%;
  height: 30%; 
  max-width: 1000px;
  /* 퍼센트로 넓이를 설정하는 건 반응형으로 만듬 */
}

body > .info {
  padding: var(--padding);
}

.info .actions{
  padding-left: 0;
}



.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
  padding-left: 0;
}


.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);

}

.info .metadata .titleAndButton .title.clamp{
  display: -webkit-box;
  -webkit-box-orient: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.info .metadata .titleAndButton.moreBtn.clicked{
  transform: rotate(180deg);
}

.info .metadata .titleAndButton .moreBtn {
   height: 100%;
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color)
}

.info .actions {
  display: flex;
  justify-content: space-around;
 margin: var(--padding) 0;
}

.info .actions button {
  background: none;
}

.info .actions button {
   display: flex;
   flex-direction: column;
   font-size: var(--font-small);
   color: var(--grey-dark-color);
}

.info .actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) /2);
  /* 지정해놓은 패딩 값의 반만적용 calc((var) /2) */
  font-size: 16px;
}

.info .actions button i.active {
  color: var(--blue-color);
}

/* channel */

.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
  display: flex;
  align-items: center;
}

.channel button {
  background-color: white;

}


.channel .metadata .info {
  display: flex;
  flex-direction: column;
} 

.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.channel .metadata .info .name {
  font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color)
}

.channel .subscribe {
  font-size: var(--font-medium);
  color: var(--red-color)
  text-transform: uppercase;
  /* 대문자로 만들기 uppercase */
}

.upNext {
  padding: var(--padding);
}

.upNext > .title {
  /* >는 바로 아래의 자식에게만 적용되게함 */
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: clac(var(--padding) /2);
}
.upNext ul {
  padding-left: 0;
  
}



.upNext .item {
  display: flex;
  margin-top: var(--padding);
}
/* flex를 써서 줄어들때나 늘어들때 크기를 11로 지정 베이시스를 35%로 지정함 */
.upNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.upNext .item .img img {
  width: 100%;
}

.upNext .item .info {
  flex: 1 1 60%
  position: relative;
}

.upNext .item .moreBtn {
  flex: 1 1 5%
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.upNext .item .info .title {
  font-size: var(--font-small);
}

.upNext .item .info .name 
.upNext .item .info .views {
  font-size: var(--font-micro)
  var(--grey-light-color)
}

.upNext li .moreBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 40px;
}

.infoAndUpNext {
  display: flexbox;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding);
  }
}
